<div class='flex justify-center items-center h-screen w-screen'>
	<div class='container mx-auto p-4 bg-white shadow-lg rounded-lg'>
		<div class='text-center'>
			<h1 class='text-2xl font-bold'>User Profile</h1>
		</div>

		<div class='flex items-center my-4'>
			<img
				src='../public/images/skinscoretestpfp.png'
				alt='User Profile Picture'
				class='w-16 h-16 rounded-full mr-4'
			/>
			<div>
				<h2 class='text-xl font-bold'>Name: {{ User.username }}</h2>
				<p>Location: Oregon, USA</p>
				<p class='font-semibold'>SkinScore: 100000</p>
			</div>
		</div>

		<div class='text-center'>
			<h2 class='text-lg font-bold'>User Posts</h2>
		</div>

		<div class='my-4'>
			{{#each userPosts}}
				<div class='bg-gray-200 rounded p-4 mb-4'>
					<h3 class='text-xl font-semibold'>{{title}}</h3>
					<p>{{content}}</p>
					<img src='{{image}}' alt='{{title}}' class='mt-4 rounded' />
					<div class='text-right mt-2'>
						<button
							class='bg-black text-white px-4 py-2 rounded mr-2'
						>Like</button>
						<button
							class='bg-red-500 text-white px-4 py-2 rounded'
						>Dislike</button>
					</div>
				</div>
			{{/each}}
		</div>

		<div class='bg-gray-200 rounded p-4'>
			<h2 class='text-lg font-bold mb-4'>Create a New Post</h2>
			<button
				id='showCreatePost'
				class='bg-black text-white px-4 py-2 rounded hover:bg-blue-700'
			>Create Post</button>
		</div>
	</div>
</div>