<div class='flex justify-center items-center h-screen w-screen'>
	<div class='container mx-auto p-4 bg-white shadow-lg rounded-lg'>
		<div class='text-center'>
			<h1 class='text-2xl font-bold'>User Profile</h1>

{{!-- 
<button id="logoutButton" class="bg-black text-white rounded-lg px-4 py-2 hover:bg-gray-800" type="button">
  Log Out
</button>

<script>
  const logoutButton = document.getElementById("logoutButton");

  logoutButton.addEventListener("click", function() {
    // Display a confirmation prompt
    const userConfirmation = confirm("Are you sure you want to log out?");

    // If the user confirms, log them out by clearing the session storage
    if (userConfirmation) {
      sessionStorage.clear();

      // Redirect the user to the "/login" route
      window.location.href = "/login"; 
    }
  });
</script> --}}

		<div class='flex items-center my-4'>
			<img
				src='../public/images/skinscoretestpfp.png'
				alt='User Profile Picture'
				class='w-16 h-16 rounded-full mr-4'
			/>
			<div>
				<h2 class='text-xl font-bold'>Name: {{ User.username }}</h2>
				<p class='font-semibold'>SkinScore: {{ User.skinscore }}</p>
			</div>
		</div>

		<div class='text-center'>
			<h2 class='text-lg font-bold'>User Posts</h2>
		</div>

		<div class='my-4'>
			{{#each userPosts}}
				<div class='bg-gray-200 rounded p-4 mb-4'>
					<h3 class='text-xl font-semibold'>{{title}}</h3>
					<p>{{content}}</p>
					<img src='{{image}}' alt='{{title}}' class='mt-4 rounded' />
					<div class='text-right mt-2'>
						<button
							class='bg-black text-white px-4 py-2 rounded mr-2'
						>Like</button>
						<button
							class='bg-red-500 text-white px-4 py-2 rounded'
						>Dislike</button>
					</div>
				</div>
			{{/each}}
		</div>

		<div class='bg-gray-200 rounded p-4'>
			<h2 class='text-lg font-bold mb-4'>Create a New Post</h2>
			<button
				id='showCreatePost'
				class='bg-black text-white px-4 py-2 rounded hover:bg-blue-700'
			>Create Post</button>
		</div>
	</div>
</div>
<script src='../public/js/gallery.js'></script>