<div class='grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 h-screen'>
	<div class='rounded-lg bg-gray-200 lg:col-span-2'>
		<img
			src='{{userImage}}'
			alt='User Image'
			class='w-16 h-16 rounded-full'
		/>
		<img
			src='{{userLogo}}'
			alt='User Logo'
			class='w-16 h-16 rounded-full'
		/>
		<p class='mt-4'>{{userDescription}}</p>
		<div class='flex items-center mt-4 space-x-4'>
			<button class='flex items-center space-x-2'>
				<svg
					class='w-5 h-5'
					fill='none'
					stroke='currentColor'
					viewBox='0 0 24 24'
					xmlns='http://www.w3.org/2000/svg'
				></svg>
				<span>Like ({{likeCount}})</span>
			</button>
			<button class='flex items-center space-x-2'>
				<svg
					class='w-5 h-5'
					fill='none'
					stroke='currentColor'
					viewBox='0 0 24 24'
					xmlns='http://www.w3.org/2000/svg'
				></svg>
				<span>Dislike ({{dislikeCount}})</span>
			</button>
			<button class='flex items-center space-x-2'>
				<svg
					class='w-5 h-5'
					fill='none'
					stroke='currentColor'
					viewBox='0 0 24 24'
					xmlns='http://www.w3.org/2000/svg'
				></svg>
				<span>Message ({{messageCount}})</span>
			</button>
		</div>
	</div>
	<div class='rounded-lg bg-gray-200'>
		<div class='scoreboard'>
			<div class="flex items-center justify-center h-32 bg-red-700">
			<h1 class="text-xl font-semibold">Skin Score</h1>
			</div>
			{{#each users}}
				<div class='user' data-user-id='{{id}}'>
					<span class='username'>{{username}}</span>
					<span class='points'>Points:
						<span class='user-points'>{{points}}</span>
					</span>
				</div>
			{{/each}}
		</div>

	</div>
</div>